@page "/"

<div class="ui text container">
      <h1 class="ui inverted header">
        Hello, world!
      </h1>
      <h2>Welcome to your new app.</h2>
      <a href="https://go.microsoft.com/fwlink/?linkid=2086020" target="_blank" class="ui huge primary button">How is Blazor working for you? Please take our brief survey and tell us what you think. <i class="right arrow icon"></i></a>
    </div>